.backdrop-dark {
  @apply fixed top-0 left-0 w-full h-screen z-20 bg-black bg-opacity-75;
}

.modal {
  position: fixed;
  top: 20vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal input,
.modal textarea {
  @apply w-full;
}

.content {
  @apply bg-white;
}
